*{margin: 0;padding: 0}
.window{
    width: 500px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
}
.images{
    display: flex;
    width: 100%;
    transition: all 0.5s;
}
.images>image{
    width: 100%;
}
.buttonsWrapper{
    text-align: center;
}
